/* Applying the .App class to the root
element and setting up the layout and background image of the application. */
.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Setting the styles for the 
main container of the application in the .App-main-container class. */
.App-main-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* The .submit-button class defines the styles for the buttons, 
including hover effects. */
.submit-button {
  width: 200px;
  height: 35px;
  padding: 20px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 25px;
  color: white;
}

.submit-button:hover {
  box-shadow: 0px 0px 25px #888;
  color: black;
  background-color: white;
}

  /* The .back-arrow-container class 
  defines the styles for the container of the back arrow element. */
.back-arrow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1028px) {
  .App-main-container {
    display: flex;
    flex-direction: column;
    width: 550px;
  }

  .Big-board-container {
    width: unset;
  }

  .back-arrow-container {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userinterface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .App-main-container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .App-main-container {
    width: 300px;
  }
}
