/* .error-inner - The .error-inner class is used by the <div> element in the JSX code. 
This element contains the .error-close-button and .error-text elements. 
The display: flex property uses flexbox layout. 
The flex-direction: column property arranges the content in a vertical direction. 
The justify-content: center and align-items: center properties center the content both horizontally and vertically. 
The position: relative property positions the element relatively. 
The height: 100px property sets the height to 100px. 
The width: 250px property sets the width to 250px. 
The background-color: whitesmoke property sets the background color to whitesmoke. 
The border-radius: 10px property defines a border radius of 10px. 
The box-shadow: 0px 0px 25px #888 property creates a shadow around the content. */
.error-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width:  250px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #888;
}

/* .error-close-button-image - This class defines the style of the image for the 
.error-close-button. 
The width: 20px property sets the width to 20px. 
The height: 20px property sets the height to 20px. */
.error-close-button-image {
  width: 20px;
  height: 20px;
}

/* .error-close-button-image - This class defines the style of the image for the 
.error-close-button. 
The width: 20px property sets the width to 20px. 
The height: 20px property sets the height to 20px. */
.error-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 50%;
}

/* .error-close-button:hover - Ez az osztály definiálja az .error-close-button 
gomb hover állapotában lévő stílusát. 
A background: #ff4d4d tulajdonság vörös háttérszínt állít be a gombnak. 
A box-shadow: 0px 0px 25px #888 tulajdonság egy árnyékot hoz létre a gomb körül. 
A border: none tulajdonság eltávolítja a gomb keretét. */
.error-close-button:hover {
  background: #ff4d4d;
  box-shadow: 0px 0px 25px #888;
  border: none;
}

/* .error-close-button:hover - This class defines the style of the 
.error-close-button when in the hover state. 
The background: #ff4d4d property sets a red background color for the button. 
The box-shadow: 0px 0px 25px #888 property creates a shadow around the button. 
The border: none property removes the button's border. */
.error-closebutton-container {
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* .error-text - The .error-text class defines the style of the text. 
The margin: 0 property removes the margin around the text. 
The font-size: 20px property sets the font size to 20px. 
The font-weight: bold property sets the text to bold. */
.error-text {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
