/*.login-form: This class defines the style for the login form. 
It removes the border, uses flexbox for layout with a column direction, 
centers the content, and sets the width to 100%. */
.login-form{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .auth-form-container: This class defines the style for the authentication form container.
    It uses flexbox for layout with a column direction, centers the content, 
    sets the width to 400px, 
    adds padding of 50px, and sets a border radius of 10px. */
.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}

/* .form-label: This class defines the style for form labels. 
It aligns the text to the left, sets the width to 100%, 
and adds padding of 0.25rem at the top and bottom. */
.form-label {
  text-align: left;
  width: 100%;
  padding: 0.25rem 0;
}

/* ..form-input: This class defines the style for form inputs. 
It sets margins of 0.5rem at the top and bottom, a height of 50px, a width of 100%, 
a font size of 25px, removes the border, adds a 3px white underline, 
sets the text color to white, sets the font weight to 400, sets a transparent background, 
and removes the border radius. */
.form-input {
  margin: 0.5rem 0;
  height: 50px;
  width: 100%;
  font-size: 25px;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  font-weight: 400;
  background: none;
  border-radius: 0;
} 

/* .form-input::placeholder: This style defines the placeholder text 
color for the input field. It sets the color to white. */
.form-input::placeholder {
  color: white;
}

/* .form-box: This class defines the style for the form box. 
It sets the width to 400px, height to 450px, applies a backdrop 
filter blur effect of 15px, sets a 2px solid white border with 50% opacity, 
sets a border radius of 20px, uses flexbox for layout with center alignment, 
and justifies the content to the center. */
.form-box {
  width: 400px;
  height: 450px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .login-title: This class defines the style for the login form title. 
It sets the font size to 2em, text color to white, and aligns the text to the center. */
.login-title {
  font-size: 2em;
  color: white;
  text-align: center;
}

/* .inputbox: This class defines the style for the input box. It sets margins of 
30px at the top and bottom, a width of 310px, a 3px white underline, 
and adds a transition effect for the border-bottom and transform properties. */
.inputbox {
  margin: 30px 0;
  width: 310px;
  border-bottom: 3px solid #fff;
  transition: border-bottom 300ms ease-in, transform 300ms ease-in;
}

/* .inputbox label - Az .inputbox osztályban lévő címke stílusát definiálja. 
A top: 50% tulajdonság 50%-ra igazítja a felső részt. 
A left: 5px tulajdonság 5px-re igazítja a bal oldalt. 
A color: #fff tulajdonság fehér szövegszínt állít be. 
A font-size: 1em tulajdonság 1em-es betűméretet határoz meg. 
A pointer-events: none tulajdonság kikapcsolja az eseménykezelést. */
.inputbox label {
  top: 50%;
  left: 5px;
  color: #fff;
  font-size: 1em;
  pointer-events: none;
}

/* .inputbox label: This style defines the style for labels inside the input box. 
It aligns the top to 50%, sets the left to 5px, 
sets the text color to white, sets the font size to 1em, and disables pointer events. */
.inputbox:hover {
  border-bottom: 3px solid #9999ff;
  transform: scale(1.1);
}

  /* .inputbox input: This style defines the style for the input field inside the input box. 
  It sets the width to 100%, height to 35px, background to transparent, 
  removes the border, outline, sets the font size to 1em, 
  and sets the text color to white. */
.inputbox input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}

  /* .submit-button: This class defines the style for the submit button. 
  It sets the width to 200px, height to 35px, uses flexbox for layout with center alignment, 
  adds a 3px white border with a border-radius of 10px, 
  sets the font size to 25px, and sets the text color to white. */
.submit-button {
  width: 200px;
  height: 35px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 25px;
  color: white;
}

/* .submit-button:hover: This style defines the hover effect for the submit button. 
It adds a box shadow, 
űchanges the text color to black, and sets the background color to white. */
.submit-button:hover {
  box-shadow: 0px 0px 25px #888;
  color: black;
  background-color: white;
}

/* Media Query (max-width: 430px): Defines styles for smaller screen sizes. 
Adjusts the width of containers and input boxes to fit smaller screens. */
@media (max-width: 430px) {
  .auth-form-container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-box {
    width: 75%;
  }

  .login-form {
    width: 75%;
  }

  .inputbox {
    width: 80%;
  }
}
  
