
/* .popup: This class represents a popup element, which represents a modal window.
The styles set the position (position: fixed; top: 0; left: 0;),
dimensions (width: 100%; height: 100vh;),
background color (background-color: rgba(0, 0, 0, 0.2);),
center alignment (display: flex; justify-content: center; align-items: center;). */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .popup-inner: This class represents an inner content element within the popup.
The styles set the content layout (display: flex; flex-direction: column; 
justify-content: center; align-items: center;),
position (position: relative;), inner padding (padding: 32px;),
width (width: 100%;), maximum width (max-width: 640px;),
background color (background-color: whitesmoke;), borders (border-radius: 10px;),
and box shadow (box-shadow: 0px 0px 25px #888;). */
.popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px;
  width:  100%;
  max-width: 640px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #888;
}

/* .popup-inner .close-btn: This class represents a button element within the popup
that can be used for closing.
The styles set the position (position: absolute; top: 16px; right: 16px;). */
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* .close-button: This class represents a close button within the popup.
The styles set the button size (width: 300px; height: 55px;),
background color (background: #9999ff;), center alignment (display: flex; 
justify-content: center; align-items: center;),
border (border: 3px solid white;), borders radius (border-radius: 10px;),
font size (font-size: 25px;), and text color (color: white;). */
.close-button {
  width: 300px;
  height: 55px;
  background: #9999ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 25px;
  color: white;
}

/* .close-button:hover: This class represents the hover state of the close button.
The styles set the box shadow (box-shadow: 0px 0px 25px #888;),
text color (color: black;), and background color (background-color: white;). */
.close-button:hover {
  box-shadow: 0px 0px 25px #888;
  color: black;
  background-color: white;
}

/* .popup-close-button-image: Ez az osztály egy kép elemet jelöl a bezárás gombon. 
A stílusok beállítják a kép méretét (width: 40px; height: 40px;). */
.popup-close-button-image {
  width: 40px;
  height: 40px;
}

/* .popup-close-button: This class represents the close button within the popup.
The styles set center alignment (display: flex; justify-content: center; align-items: center;),
background color (background: none;), size (width: 39px; height: 39px;),
border (border: none;), and border radius (border-radius: 50%;). */
.popup-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 39px;
  height: 39px;
  border: none;
  border-radius: 50%;
}

/* .popup-close-button:hover: This class represents the hover state of the close button.
The styles set the background color (background: #ff4d4d;),
box shadow (box-shadow: 0px 0px 25px #888;), and border (border: none;). */
.popup-close-button:hover {
  background: #ff4d4d;
  box-shadow: 0px 0px 25px #888;
  border: none;
}

/* .popup-closebutton-container: This class represents a container for the close button.
The styles set the width (width: 80%;),
and right alignment (justify-content: right;). */
.popup-closebutton-container {
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* .popup-winner-text: This class represents the winner text within the popup.
The styles set the font size (font-size: 20px;). */
.popup-winner-text {
  font-size: 20px;
}

/* .popup-title-text: This class represents the title text within the popup.
The styles set the font size (font-size: 40px;). */
.popup-title-text {
  font-size: 40px;
}
