/*  When the element enters the document, it is initially transparent (0 opacity) */
.fade-enter {
  opacity: 0;
}

/* When the element enters the document and receives opacity transition */
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* This CSS code defines an animation for the entering of an element.
Applying the .fade-enter class to the element means that initially its opacity is 0,
making it invisible.
Then, applying the .fade-enter-active class to the element means
that its opacity gradually increases to 1 using the opacity property.
The transition property sets the transition to occur over a duration of 500 milliseconds
with an ease-in timing function to make the transition smoother.  */